body {
  max-width: 720px;
  margin: auto;
  font-size: 62.5%;
  font-family: "Overpass Mono", monospace;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

#pagetitle {
  font-family: "Zilla Slab", monospace;
  font-size: 6em;
  color: #6fdca7;
  margin: 0;
}

#matter {
  width: 100%;
  height: auto;
  margin-top: 10vh;
}

#matter canvas {
  max-width: 100%;
  max-height: 75vw;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2.5em;
  margin: 10px;
}

#links a{
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
  color: #6fdca7;
}

a:active {
  text-decoration: underline;
  color: #6fdca7;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 50%;
  }
}
